.container {
  margin:0 auto;
  text-align: center;
}

.navbar {
  background-color: #2D90F5;
}

#nav-icon{
  height:100px;
}

.row{
  margin-top: 2%;
}

.row img{
  border:4px solid black;
}

ul{
  list-style-type: none;
}

button{
  color: #2D90F5 !important;
  border:1px solid #2D90F5;
}
